.navbar {
    background-color: pink;
}

.navbar a {
    text-decoration: none;
}

.nav-container {
    display: flex;

    margin: 0px 10px;
    padding: 5px;
}

.nav-buttons {
    display: flex;
    justify-content: space-around;

    margin: 0px auto;

    gap: 5px;
}

.nav-buttons .nav-button {
    background-color: blueviolet;
    color: white;

    padding: 7px 10px;
    border-radius: 5px;
}